.main{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 5%;
    left: 35%;
    
}
#formulario{
    padding: 15px;
 
}
fieldset{
    height: 500px;
}
div{
    padding: 5px;
}
input{
    width: 250px;
}
select{
    width: 250px;
}